<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_app_futbol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_App_Futbol">
        <activity
            android:name=".admin.jugadores.EliminarJugador"
            android:exported="false" />
        <activity
            android:name=".admin.jugadores.ModificarJugador"
            android:exported="false" />
        <activity
            android:name=".usuario.laliga.PartidosLaLiga"
            android:exported="false" />
        <activity
            android:name=".admin.ligas.ModificarLiga"
            android:exported="false" />
        <activity
            android:name=".admin.ligas.EliminarLiga"
            android:exported="false" />
        <activity
            android:name=".admin.jugadores.AnadirJugador"
            android:exported="false" />
        <activity
            android:name=".admin.jugadores.JugadoresAdministrador"
            android:exported="false" />
        <activity
            android:name=".admin.ligas.AnadirLiga"
            android:exported="false" />
        <activity
            android:name=".admin.ligas.LigasAdministrador"
            android:exported="false" />
        <activity
            android:name=".usuario.laliga.JugadoresLaLiga"
            android:exported="false" />
        <activity
            android:name=".admin.MenuAdministrador"
            android:exported="false" />
        <activity
            android:name=".usuario.menus.MenuLaLiga"
            android:exported="false" />
        <activity
            android:name=".usuario.menus.MenuLigueOne"
            android:exported="false" />
        <activity
            android:name=".usuario.menus.MenuPremierLeague"
            android:exported="false" />
        <activity
            android:name=".usuario.menus.MenuBundesliga"
            android:exported="false" />
        <activity
            android:name=".usuario.laliga.ClasificacionLaLiga"
            android:exported="false" />
        <activity
            android:name=".usuario.PaginaPrincipal"
            android:exported="false" />
        <activity
            android:name=".usuario.InicioSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>