<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_app_futbol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_App_Futbol">
        <activity
            android:name=".AnadirJugador"
            android:exported="false" />
        <activity
            android:name=".JugadoresAdministrador"
            android:exported="false" />
        <activity
            android:name=".AnadirLiga"
            android:exported="false" />
        <activity
            android:name=".LigasAdministrador"
            android:exported="false" />
        <activity
            android:name=".JugadoresLaLiga"
            android:exported="false" />
        <activity
            android:name=".MenuAdministrador"
            android:exported="false" />
        <activity
            android:name=".MenuLaLiga"
            android:exported="false" />
        <activity
            android:name=".MenuLigueOne"
            android:exported="false" />
        <activity
            android:name=".MenuPremierLeague"
            android:exported="false" />
        <activity
            android:name=".MenuBundesliga"
            android:exported="false" />
        <activity
            android:name=".ClasificacionLaLiga"
            android:exported="false" />
        <activity
            android:name=".paginaprincipal.PaginaPrincipal"
            android:exported="false" />
        <activity
            android:name=".InicioSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>